<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card-container d-flex flex-wrap justify-content-center">
        <div *ngFor="let product of products" class="card m-2" style="width: 240px;">
          <img width="240" src="{{ product.pizzaLogoUrl }}" class="card-img-top" />
          <div class="card-body">
            <h6 class="card-title">{{ product.pizzaName | uppercase }}, {{ product.pizzaCategory | uppercase }}</h6>
            Pizza Size:
            <select [(ngModel)]="selectedSize" (change)="calculatePrice(product)">
              <option disabled selected>Select Size</option>
              <option *ngFor="let productdetail of product.pizzaDetails" [value]="productdetail.pizzaSize">
                {{ productdetail.pizzaSize }}
              </option>
            </select>
            <br>
            <p *ngIf="selectedSize">Price: {{ selectedPrice }} &#8377;</p> <!-- Display the selectedPrice directly -->
            <br>
            <button class="btn btn-primary">Add To Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>