<div class="container">
  <div class="row">
      <div class="col-8">
        <ul>
          <li *ngFor="let product of products">
            <div class="card">
              <div class="card-body">
           {{product.pizzaName}}
           <br>
           {{product.pizzaCategory}}
           <br><br/>
           <img width="150" src="{{product.pizzaLogoUrl}}"/>
           <br><br/>
           Available Count:
           <select>  
            <option *ngFor="let productdetail of product.pizzaDetails">
              {{productdetail.pizzaCount}}</option> 
          </select> 
          <br><br/>
          Pizza Price:
           <select>  
            <option *ngFor="let productdetail of product.pizzaDetails">
              {{productdetail.pizzaPrice}}</option> 
          </select> 
          <br><br/>
          Pizza Size:
          <select>  
          <option *ngFor="let productdetail of product.pizzaDetails">
            {{productdetail.pizzaSize}}</option> 
        </select> 
        <br>
        <button>ADD</button>
              </div> </div>
          </li>
        </ul>

      </div>
      <div class="col-4">
        <!-- <ul>
          <li *ngFor="let product of products">
            <div class="card">
              <div class="card-body">
           {{product.pizzaName}}
           <br>
           {{product.pizzaCategory}}
           <br><br/>
           <img width="150" src="{{product.pizzaLogoUrl}}"/>
           <br><br/>
           Available Count:
           <select>  
            <option *ngFor="let productdetail of product.pizzaDetails">
              {{productdetail.pizzaCount}}</option> 
          </select> 
          <br><br/>
          Pizza Price:
           <select>  
            <option *ngFor="let productdetail of product.pizzaDetails">
              {{productdetail.pizzaPrice}}</option> 
          </select> 
          <br><br/>
          Pizza Size:
          <select>  
          <option *ngFor="let productdetail of product.pizzaDetails">
            {{productdetail.pizzaSize}}</option> 
        </select> 
        <br>
        <button>ADD</button>
            </div></div>
          </li>
        </ul> -->
        col8
      </div>
    </div>
  </div>