/* .card {
  height: 10rem;
  width: 15rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.75rem;
} */

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Noto Sans SC', sans-serif;
}

.card > img {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  list-style-type: none;
  margin: 0;
}